---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import ArtSidebarLeft from './ArtSidebarLeft.astro';
import ArtCanvas from './ArtCanvas.astro';
import ArtSidebarRight from './ArtSidebarRight.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="artwork-section">
  <ArtSidebarLeft {t} />
  <ArtCanvas {t} />
  <ArtSidebarRight {t} />
</section>

<style>
  #artwork-section {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    border-bottom: 1px solid var(--ink);
  }

  @media (max-width: 900px) {
    #artwork-section {
      grid-template-columns: 1fr;
    }
  }
</style>